// Grid

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 34.6875rem) {
    .grid {
        grid-template-columns: none;
    }
}

@media (max-width: 59.375rem) {
    .quiensoy__h1 {
        font-size: $font-size-big;
    }
}

.span6 {
    grid-column: span 6;
}

@media (max-width: 51.125rem) {
    .span6{
        grid-column: span 8;
    }
}

// ¿Quien soy?

.quien {
    width: 100%;
    background: {
        image: url(../images/paisatge/postadesolmuntanya.jpg);
        position: center;
        size: cover;
        attachment: fixed;
    }
    border-bottom: 5px solid $color-background;
    
}


.quiensoy {
    background-color: $color-background;
    color: $color-letter;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;

    &__h2 {
        @include title;
    }

    @media (max-width: 59.375rem) {
        &__h2 {
            font-size: $font-size-respo;
        }
    }

    &__p {
        @include text;
    }
}


@media (max-width: 375px) {
    .quiensoy {
        padding: 0rem;
    }
}

.quiensoy__figure {
    text-align: center;
}

.quiensoy__img {
    padding: 10px;
    width: 300px;
    height: 400px;
}

.quiensoy__figcap {
    text-align: center;
    letter-spacing: 2px;
}

.grid{
    div {
        justify-content: center;
        align-items: center;
    }
} 


// El proyecto

.que {
    width: 100%;
    background-image: url(../images/paisatge/muntanya.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 5px solid $color-background;
}

.miproyecto {
    grid-column: 7/-1;
    background-color:$color-background;
    color: $color-letter;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;

    &__h2 {
        @include title;
    }

    &__p {
        @include text;
    }
}

@media (max-width: 51.125rem) {
    .miproyecto {
        grid-column: 5/-1;
    }
}

@media (max-width: 22.25rem) {
    .miproyecto {
        padding: 0rem;
    }
}

@media (max-width: 28.125rem) {
    .miproyecto__p--display, .quiensoy__p--display, .libros__p--display {
        display: none;
    }
}

// Lecturas

.lecturas {
    width: 100%;
    background-color: black;
}

.libros {
    background-color: $color-background;
    color: $color-letter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
    opacity: 0.9;

    &__h2 {
        @include title;
    }

    &__p {
        @include text;
        margin-bottom: 3.125rem;
    }

    &__figure {
        width: 200px;
        height: 300px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 80px;
    }

    &__img {
        width: 200px;
        height: 300px;
    }

    &__figcap {
        text-align: center;
    }
}

@media (max-width: 22.3125rem) {
    .libros {
        padding: 0rem;
    }
}

.libros__container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media (max-width: 875px) {
    .libros__container {
        gap: 20px;
    }
}

@media (max-width: 694px) {
    .libros__container {
        flex-direction: column;
    }
}




//Mis Deportes

.deportes {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.deportes__h2 {
    color: white;
    @include title;
}

.deportes__img {
    padding: 10px;
    width: 550px;
    height: 400px;
}

@media (max-width: 1651px) {
    .deportes__img {
        padding: 10px;
        width: 450px;
        height: 350px;
    }
}

@media (max-width: 1371px) {
    .deportes__img {
        padding: 10px;
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 1265px) {
    .deportes__img {
        padding: 10px;
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 903px) {
    .deportes__img {
        padding: 10px;
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 752px) {
    .deportes__img {
        padding: 10px;
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 407px) {
    .deportes__img {
        padding: 10px;
        width: 250px;
        height: 200px;
    }
}

.deportes__figcap {
    font-size: 10px;
    text-align: center;
} 

.deportes__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media (max-width: 752px) {
    .deportes__container {
        flex-direction: column;
    }
}



.deportes__p {
    @include text;
    font-size: 16px;
    text-align: center;
}