// COLORS
$color-background: #000000;
$color-letter: #EAECE6;
$color-btn-quiensoy: #94503D;
$color-btn-miproyecto: #986641;
$color-btn-libros:#A5A5A5;
$color-shadow:rgb(187, 31, 31);
$color-shadow-book:grey;

// FONT_SIZE
$font-size-small: 1rem;
$font-size-mid: 1.25rem;
$font-size-respo: 2.5rem;
$font-size-big: 3.125rem;
$font-size-big-title: 3.75rem ;
$font-size-xl: 5rem;

//FONT FAMILY
$font-family-h1: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-family-text: Arial, Helvetica, sans-serif;

// PADDING
$padding-10: 0.625rem; 
$padding-20: 1.25rem;
$padding-30: 1.875rem;
